h1 {
  font-family: Europa;
  font-size: 6em;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 0.5em;
  color: rgba(18, 18, 18, 1);
}

h2 {
  font-family: Europa;
  font-size: 5em;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 1.25em;
  color: rgba(22, 22, 29, 1);
}

h3 {
  font-family: Europa;
  font-size: 3em;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  letter-spacing: 0.25em;
  line-height: 1.2em;
  color: rgba(22, 22, 29, 1);
}

.app {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  text-align: center;
  z-index: 0;
}

section {
  position: relative;
  z-index: 1;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.top,
.bottom {
  animation-name: fade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-direction: alternate;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.text,
.text h1,
.text h3 {
  margin: auto;
  color: white;
  z-index: 2;
}

.text h3 {
  margin-top: 1em;
}
